# Android Studio
.idea/
*.iml

# Gradle
.gradle/
build/
*/build/

# Android
local.properties
.externalNativeBuild/
.cxx/
captures/

# Kotlin
.kotlin/

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment
.env
.env.*

# ML models
*.pt
*.pth
*.onnx
*.tflite
*.h5

# Datasets
ml/datasets/raw/
ml/datasets/io-vnbd/

# OS
.DS_Store
Thumbs.db
